server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info

spring:
  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"
      routes:
        - id: devices
          uri: http://device-service:8082
          predicates:
            - Path=/api/devices/**,/api/homes/*/devices/**

        - id: sensors
          uri: http://sensor-service:8083
          predicates:
            - Path=/api/sensors/**,/api/homes/*/sensors/**

        - id: automations
          uri: http://automation-service:8084
          predicates:
            - Path=/api/automations/**,/api/homes/*/automations/**

        - id: user-home
          uri: http://user-home-service:8081
          predicates:
            - Path=/api/auth/**,/api/homes/**
